html, body{
    scroll-behavior: smooth;
}
#main-page-title{
    font-family: 'Roboto', sans-serif;
    animation: slide-up-appear 1s ease-in-out;
}
#main-page-image{
    animation: slide-down-appear 1s ease-out;
}

#main-page-image-2{
    animation: slide-left-appear 1.5s ease-out;
}

#main-page-section-1{
    animation: slide-right-appear 1.5s ease-in-out;
}
#main-page-section-2{
    animation: slide-right-appear-2 1.5s ease-in-out;
}

@keyframes slide-up-appear{
    0%{
        opacity: 0.2;
        transform: translateY(20vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    };
}

@keyframes slide-down-appear{
    0%{
        opacity: 0.2;
        transform: translateY(-20vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    };
}

@keyframes slide-left-appear{
    0%{
        opacity: 0.2;
        transform: translateX(-33.3vh);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    };
}

@keyframes slide-right-appear{
    0%{
        opacity: 0.2;
        transform: translateX(33.3vh);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    };
}

@keyframes slide-right-appear-2{
    0%{
        opacity: 0.2;
        transform: translateX(50vh);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    };
}
.gradient-background {
    background: linear-gradient(11deg,#000000,#ffffff,#7a5f5b);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }